@font-face {
    font-family: 'master_of_breakregular';
    src: url('fonts/master_of_break-webfont.eot');
    src: url('fonts/master_of_break-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/master_of_break-webfont.woff2') format('woff2'),
         url('fonts/master_of_break-webfont.woff') format('woff'),
         url('fonts/master_of_break-webfont.ttf') format('truetype'),
         url('fonts/master_of_break-webfont.svg#master_of_breakregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adam';
    src: url('fonts/adam.cg_pro-webfont.eot');
    src: url('fonts/adam.cg_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adam.cg_pro-webfont.woff2') format('woff2'),
         url('fonts/adam.cg_pro-webfont.woff') format('woff'),
         url('fonts/adam.cg_pro-webfont.ttf') format('truetype'),
         url('fonts/adam.cg_pro-webfont.svg#adam.cg_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5
  font-family 'master_of_breakregular', serif

p
  font-family 'adam', sans-serif

h3
  font-size 25px
  font-family 'adam', sans-serif
